

.login-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: Arial, sans-serif;
}


.login-box {
  flex: 1;
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}


.user-icon {
  width: 70px;
  height: 70px;
  background: #f0ebff;
  color: #6a5cff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 28px;
}


.login-box h1 {
  text-align: center;
  font-size: 42px;
  margin: 0;
}

.login-box h1 span {
  color: #4f46e5;
}

.login-box p {
  text-align: center;
  color: #666;
  margin: 15px 0 30px;
}


.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 18px;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 15px;
}


.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  text-decoration: none;
  color: #4f46e5;
}


.login-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(90deg, #7c3aed, #2563eb);
}

.divider {
  text-align: center;
  margin: 25px 0;
  color: #777;
}


.social-login {
  display: flex;
  gap: 10px;
}

.social-login button {
  flex: 1;
  border: 1px solid #ddd;
  background: white;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}

/* SIGNUP */
.signup {
  text-align: center;
  margin-top: 20px;
}

.signup a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
}

/* RIGHT SIDE */
.illustration-box {
  flex: 1;
  background: linear-gradient(135deg, #6d5dfc, #3b82f6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 40px;
}

.illustration-box img {
  max-width: 80%;
  max-height: 300px;
  object-fit: contain;
}

.illustration-box h2 {
  font-size: 36px;
  margin-top: 20px;
  text-align: center;
}

.illustration-box p {
  font-size: 16px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .login-container {
    flex-direction: column;
  }

  .illustration-box {
    display: none;
  }

  .login-box {
    padding: 25px;
  }
}