
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6d5dfc, #3b82f6);
}

/* FORM BOX */
.signup-box {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* TITLE */
.signup-box h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
}

.signup-box h1 span {
  color: #4f46e5;
}

.signup-box p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.input-group input,
.input-group select {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 15px;
  background: transparent;
}

/* BUTTON */
.signup-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #7c3aed, #2563eb);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.signup-btn:hover {
  opacity: 0.9;
}


@media (max-width: 600px) {
  .signup-box {
    padding: 25px;
  }

  .signup-box h1 {
    font-size: 30px;
  }
}







.toast {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 12px 18px;
  border-radius: 8px;

  color: white;
  font-weight: 500;

  z-index: 9999;

  animation: slideIn 0.3s ease;
}

.toast.success {
  background: #22c55e;
}

.toast.error {
  background: #ef4444;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}